$card-base-width: 350px;
$material-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$theme-background-color: #aaa;
$theme-accept-color: #2E7D32;
$theme-deny-color: #B71C1C;

$theme-base-spacing: 1rem;

$theme-title-font: "Quicksand", sans-serif;
$theme-text-font: "Roboto", sans-serif;
$theme-items-font: "Montserrat", sans-serif;