:root {
    box-sizing: border-box;
    /* font-size: 10px; */
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body>section {
    width: 100%;
    min-height: 100vh;

    padding: 1rem;
}

body>section:nth-child(odd) {
    background: #eee;
}

body>section h3 {
    margin: 3rem 0;
    font-size: 2rem;
    text-align: center;
}

.flex {
    width: 100%;
    height: 75vh;

    margin: 1rem 0;
    padding: 0.5rem;

    border: 1px solid black;

    display: flex;
    gap: 1rem;
}

.wrap {
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;

    padding: 0.5rem;

    background: crimson;
    color: white;
    font-size: 1.5rem;

    border: 1px solid darkred;
}

#row {
    flex-direction: row; /* Redundante */
}

#row-reverse {
    flex-direction: row-reverse;
}

#column {
    flex-direction: column ;
}

#column-reverse {
    flex-direction: column-reverse;
}

#no-wrap {
    flex-wrap: nowrap; /* redundante */
}

#wrap {
    flex-wrap: wrap;
    /* flex-direction: column; */
}

#wrap-reverse {
    flex-wrap: wrap-reverse;
}

#col-wrap-reverse {
    /* flex-direction: column-reverse;
    flex-wrap: wrap-reverse; */
    flex-flow: column-reverse wrap-reverse;
}

#justify{
    /* flex-direction: column; */
    justify-content: space-around;
}

#items>.box {
    height: auto;
}

#items {
    align-items: center;
}

#content>.box {
    height: auto;
}

#content {
    align-content: stretch;
}

#sizes {
    flex-flow: row wrap;
    height: auto;
}

#sizes>.box{
    width: auto;
    /* flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1; */

    flex: 1 0 250px
}

.center {
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}